@import '../variables';
@import '../mixins';

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;

  .cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

 
  .card {
    background: #FFFFFF;

    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 134px;
    width: 260px;

    padding: 10px;
    margin-bottom: 10px;

    // margin: auto 5px;

  }

  .activeCard {
    @extend .card;
    border: 1px solid #3751FF;
  }

  .tag {
    @include tag;
  }

  .number {
    @include number;
  }
 }

 .activeTag {
   @include tag(#3751FF);
 }

 .activeNumber {
   @include number(#3751FF)
 }
}