@import '../mixins';

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #FFFFFF;
  
  border: 1px solid #DFE0EB;
  box-sizing: border-box;
  border-radius: 8px;
  
  padding: 20px 40px;
  margin: 20px 26px;

  // height: 100%;
}

.header {
  @include title;
}