@import './variables';

@mixin mulish ($active : false) {
  font-family: $mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;

  @if $active {
    color: $active-color;
    opacity: $active-opacity;
  } @else {
    color: $inactive-color;
    opacity: $inactive-opacity;
  }
}

@mixin title {
  font-family: $mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;

  letter-spacing: 0.4px;

  color: #252733;
}

@mixin tag ($color: #9FA2B4) {
  font-family: $mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.4px;
  margin: 0px;

  /* grayscale / gray */

  color: $color;
}

@mixin number ($color: #252733) {
  font-family: $mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;

  /* grayscale / black */

  color: $color;

  margin: 0px;

}