@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

$mulish: Mulish;

// inactive properties
$inactive-color: #A4A6B3;
$inactive-opacity: 0.7;

// active properties
$active-color: #DDE2FF;
$active-opacity: 1;

// sidebar
$sidebar-bg: #363740;