@import './sidebar/sidebarvariables';

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3 {
  font-family: mulish;
}

.selected {
  border-left: 2px solid white;
  position: relative;
  color: $active-color;
  opacity: $active-opacity;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #9FA2BF;
    opacity: 0.08;
  }
}

a {
  text-decoration: none;
}